beautifulsoup4==4.8.0
fuzzywuzzy==0.17.0
google-api-python-client==1.7.11
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.0
objectpath==0.6.1
python-Levenshtein==0.12.0
requests==2.22.0
rsa==4.0
six==1.12.0
soupsieve==1.9.3
spotipy==2.4.4
urllib3==1.25.3
